<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<title>Y109 Compression</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<body>
    <div style="margin:auto;">
        <h1>PDF Compression for Y109</h1>
        <p>This was made quickly and I'm not good at webapp design so it looks like garbage, but it does work. Since it's not very well made, there are a few things to keep in mind.</p>
        <h4>Rules:</h4>
        <ul>
            <li>You can only upload .zip files</li>
            <li>Make sure the zip file name doesn't have any spaces in it. If it does, this will break.</li>
            <li>Please do not spam uploads. If the file is uploaded too many times, the site will eventually break.</li>
            <li>When you start compressing a file, do not close the page until it completes or you receive an error message.</li>
        </ul>
        <p>The compressed files will automatically download to your browser once complete.<br>If the site goes down or there are any other issues, feel free to email willim@iu.edu or will@aptlabs.net</p>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="zipfile" accept=".zip">
            <button type="submit">Start</button>
        </form>
    </div>
</body>
</html> 

